:root {
	--bleu-anct:#293173;
	--bleu-second:#5770be;
	--jaune-anct:#ffe800;
	--vert-pvd:#9cb94d;
	--orange-pvd:#e57d40;
}

body {
	padding: 0;
	margin:0;
}


html, body, #mapid {
	width: 100%;
	height: 100%;
	display: block;
  	overflow-y: hidden;
	font-family: 'Marianne-Regular';
	font-weight: 500;
	font-size: 0.9rem;
}

body i {
	font-size: 1.3em;
	font-style: normal;
}


/* -------------------------------------------------------------------------- */
/* 								LEAFLET SIDEBAR					   	 		  */													
/* -------------------------------------------------------------------------- */

/* longueur */
@media (min-width: 1200px) {
	.leaflet-sidebar, .leaflet-sidebar-header {
		width: 550px;
		max-width: 550px;
	}
}

/* header panneau avec titre carte */
.leaflet-sidebar-header {
	/* background-color: var(--vert-pvd);
	text-transform:uppercase;
	font-family: 'Marianne-Bold';
	display: block;
	position: static; */
	background: none;
	margin:15px -5px 0 -5px;
	height: auto;
	padding-bottom: 20px;
	z-index: 0;
}

.leaflet-sidebar-close {
	color:black;
	z-index: 10000 !important;
}


/* sidebar */
.leaflet-sidebar-tabs {
	/* background-color: rgb(249, 249, 251); */
	background-color: #cfd5bf;
	box-shadow: 2px 0px 2px 0px #656565;
}

/* boutons sidebar */
.leaflet-sidebar-tabs > ul > li.active,
.leaflet-sidebar-tabs > ul > li.active:hover {
	/* background-color: var(--vert-pvd); */
	background-color: rgb(249, 249, 251);
	color:var(--orange-pvd);
	border-left: solid 3px var(--orange-pvd);	 
}

.leaflet-sidebar-tabs > ul > li:hover {
	background-color: rgba(0,0,0,.25);
	color:white;
	transition: .2s
} 

.leaflet-sidebar-content {
	/* background-color: rgb(255, 253, 253, .75); */
}
/* -------------------------------------------------------------------------- */
/* 									BOUTONS ACCUEIL	 						  */
/* -------------------------------------------------------------------------- */

.btn-home, .btn-home:hover {
	width: 49%;
	height:200px;
	background-color: white;
	border:solid 1px rgb(202, 202, 202);
	color:var(--orange-pvd) !important;
	border-radius: 0.25em;
	display: inline-block;
	vertical-align: middle;
}

.btn-home:hover {
	border-top: solid 4px var(--orange-pvd);
	font-weight: bold;
}

.btn-home > i {
	font-size: 5rem;
	margin-top: -25px;
	margin-bottom: 15px;
}

/* -------------------------------------------------------------------------- */
/* 									LEAFLET MAP						 		  */
/* -------------------------------------------------------------------------- */

.leaflet-tooltip {
	font-family: 'Abel-Regular';
	font-size:15px;
	font-weight:bold;
	padding:0 5px;
	border:none;
	opacity: 1;
	background-color: var(--orange-pvd);
	color: white;
	margin: -25px 0px;
	padding:2px;
}

/* -------------------------------------------------------------------------- */
/* 								CHAMP DE RECHERCHE 							  */									
/* -------------------------------------------------------------------------- */




.form-group .form-control-icon {
    z-index: 2;
    text-align: center;
    pointer-events: none;
}

.input-group-prepend {
	border-bottom-left-radius: 20px !important;
	border-top-left-radius: 20px !important;
	margin-right: -10px !important;
}

input, input:focus  {
	outline: 0px  !important;
} 

#search-bar-container {
	margin-bottom: 20px;
}


#reset-search {
	background-color: var(--orange-pvd);
	color:white;
	border: solid 0.5px rgba(0,0,0,.1);
	border-left: none;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	/* border-bottom-right-radius: 20px;
	border-top-right-radius: 20px; */
}

#reset-search:hover {
	opacity: .75;
}

.nb-results {
	font-size: 1.5rem;
	font-weight: bolder;
}

.no-result {
	display: flex;
	justify-content: center;
}


/* -------------------------------------------------------------------------- */
/* 									ONGLETS			 						  */
/* -------------------------------------------------------------------------- */

.trouver-text {
	font-family: 'Marianne-Bold';
	font-size: 1.5em;
}


/* -------------------------------------------------------------------------- */
/* 								CASE LISTE CONTACT	 						  */
/* -------------------------------------------------------------------------- */

ul {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	margin-left: -35px;
}

.card {
	margin-top: 10px;
	margin-bottom: 10px;
}

.card-body {
	padding-bottom: 5px;
}

.card-header {
	background-color: var(--vert-pvd);
	padding-top:5px;
	padding-bottom:5px;
	color:white;
	font-family: 'Marianne-Bold';
}

.card-nom-dep {
	text-transform:uppercase;
}

.card-title {
	font-family: "Marianne-Bold";
}

.intro::after {
	position: absolute;
	content: '';
    width: 3rem;
    height: 0.5rem;
    background-color: var(--orange-pvd);
}

.corps {
	padding-top: 25px;
	margin-bottom: 0px;
}

.las {
	align-items: center
}

.las::after {
	content:"   ";
}
